<!DOCTYPE html>
<html>
<head>
  <title>{{ manga.title }} – NightLeaf</title>
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

<div class="header">
  <a href="/" class="logo">
    <img src="{{ url_for('static', filename='images/nightleaf-logo.png') }}" alt="NightLeaf Logo">
    <span>NightLeaf</span>
  </a>
</div>


<div class="page-content">

  <div style="display:flex; gap:30px; padding:20px;">
    <img src="{{ manga.image }}" class="detail-img">

    <div>
      <h1>{{ manga.title }}</h1>
      <p><b>Authors:</b> {{ manga.authors }}</p>
      <p><b>Genres:</b> {{ manga.genres }}</p>
      <p><b>Status:</b> {{ manga.status }}</p>
      <p><b>Released:</b> {{ manga.year }}</p>
      <p style="margin-top:10px;">{{ manga.description }}</p>
    </div>
  </div>

</div>
</body>
</html>
